.mat-mdc-card {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    
}
.field1{
    background-color:burlywood;
}
.ubutton{
    background-color:#33FFB5;

}
body{
    background-color: #220e24;
}
.mdc-button{
    margin: 2px;
}
