<form [formGroup]="blogform" (ngSubmit)="saveblogs()">
    
<mat-card>
    <div style="text-align: center;">
    <mat-card-header>
    <h1 style="margin: 0 auto;">Add Blogs</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
        <label>Title</label>
        <input matInput formControlName="title">
        </mat-form-field><br>
        <mat-form-field>
        <label>Description</label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    </mat-card-content>
    <button mat-raised-button color="primary" type="submit">submit</button>
    </div>
</mat-card>

</form>